.blog-list{
    margin: .5rem 0;    
    margin: auto;
}
.blog-list li {
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: .3s ease-in-out;
} 
.blog-list li:hover{
    border: 1px solid #000;
} 
.blog-list li a{
    color: #555;
    padding: 1rem;
    display: block;
}
.blog-list li a:hover {
    color: #000;
    border-bottom-color: transparent;
}
.read-more{
    font-size: 11px;
    color: #FFF;
    background: #37F;
    font-weight: bold;
    padding: .2rem 1rem;
    border-radius: 3rem;
    display: inline-block;
    margin-top: .8rem;
}
.blog-list::after{
    content: " ";
    display: block;
    clear: both;
}