.blog-list{
    padding: .5rem 0;    
}
.blog-list li {
    width: 100%;
    margin-bottom: 1.5rem;
    list-style-type: square !important;
} 
.blog-list li a{
    color: #555;
}
.blog-list li a:hover {
    color: #000;
    border-bottom-color: transparent;
}

.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}
.read-more{
    font-size: 11px;
    color: #00F;
    font-weight: bold;
    display: block;
}