
{{ define "main" }}
  <section>
    <h1>Projects</h1>

    {{ range .Pages }}
      <article class="flex project">
       
        {{ $sprite :=  .Params.poster }}
        {{ with .Params.poster_sprite_offset }}
          <div class="project-poster" style="background-position: {{.}}"></div>
        {{ end }}

        <div>
          <div>
            <h2>{{ .Title }}</h2>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
          </div>

          <div>{{ .Content }}</div>

          {{ partial "project-links.html" . }}

        </div>

      </article>
    {{ end }}

  </section>
{{ end }}
