
{{ define "main" }}
  <article class="project">
    <div style="margin:1rem 0; ">
      <a class="back" href="{{ .Parent.Permalink }}">&larr; Back</a>
      <h1 style="margin:0">{{ .Title }}</h1>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>

        {{ $sprite :=  .Params.poster }}
        {{ with .Params.poster_sprite_offset }}
          <div class="project-poster  {{$sprite}}" style="background-position: {{.}};"></div>
        {{ end }}

    <div class="content">
      {{ .Content }}
    </div>

    {{ partial "project-links.html" . }}

  </article>
{{ end }}
