.home{
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.home .profile-pic{
    display: inline-block;
}
.home .bio{
    color: #888;
}
.social-media{
    margin-top: 2rem;
}
.social-media a{
    color: #222;
    border-radius: 100%;
    border: 1px solid #222;
    display: inline-block;
    padding: .3rem;
    font-size: 1.2rem;
    line-height: 2rem;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
}
.social-media li{
    display: inline-block;
    margin: 5px ;
}
.social-media a:hover{
    color: #00F;
    border-color: #222;
}
.home .menu a{
    min-width: 100px;
}

@media (max-width: 600px){
    .home .menu li{
        margin-bottom: 1rem;
    }
}