.Navbar{
    margin: 0;
    position: fixed;
    background-color: #FFF;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid #000;
    padding: .1rem 1rem;
    box-sizing: border-box;
}
.Navbar li{
    margin: .5rem;
    display: inline-block;
}

.Navbar-after{
    margin-bottom: 100px;
}