.Navbar{
    margin: 0;
    position: fixed;
    background-color: #FFF;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    border-bottom: 1px solid transparent;
    padding: 0 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 5px #999;
    height: 60px;
    line-height: 60px;
}
.Navbar li{
    margin: 0 .5rem;
    display: inline-block;
}
a.Navbar-after{
    padding: .4rem 1.3rem;
    font-size: .8rem;
    line-height: 1.2rem;
    border-color: #CCC;
    background: #FFF;
}
.Navbar a:first-child{
    padding-left: 0;
}
.Navbar a:last-child{
    padding-right: 0;
}
.Navbar-gap{
    margin-bottom: 6rem;
}
.read-more{
    text-align: right;
}
@media (max-width:700px) and (min-width: 300px){
    .Navbar{
        top: auto;
        bottom: 0;
        border:1px solid transparent;
        border-top: 1px solid transparent;
        background: #37F;
        border: 1px solid #37F;
        box-shadow: 0 0 3px #36F;    
        color: #FFF;
    }
    .Navbar a:hover,
    .Navbar a{
        color: #FFF;
        border-bottom: none;
    }
    a.sm{
        display: inline-block !important;
    }
    .Navbar-gap{
        margin-bottom: 2rem;
    } 
}
@media (max-width: 500px){
    .Navbar{
        font-size: 14px;
    }
}
@media (max-width: 300px){
    .Navbar{
        position: relative;
        height: auto;
        box-shadow: none;
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .Navbar .container{   
        display: block;
        width: 100%;
    }
    .Navbar li{
        line-height: 2rem;
        display: block;
    }
    .Navbar li a{
        padding: 0;
        display: block;
        width: 100%;
        margin: 0;
    }
    .Navbar li a:hover{
        color: #00F;
        border-color: transparent;
    }
}