
  <div>
  <!--{{ $pages := where site.RegularPages "Type" "posts" }} -->
  {{ $pages := .pages | default (where .page.Site.RegularPages "Type" "posts") }}
  {{ $paginator := .page.Paginate ($pages.ByTitle) 7 }}

  {{ range $paginator.Pages }}
    <div>
      <div>
          <h2 style="margin:0;margin-top:2em">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ if .Draft }}
              <span class="badge">DRAFT</span>
            {{ end }}
        </h2>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
          <!-- show page.Site.RegularPages type -->
          {{ if .Type }}
            <span class="badge">{{ .Type }}</span>
          {{ end }}

          
      </div>
      <div>
        {{ .Summary }}
      </div>
    </div>
  {{ end }}
  {{ template "_internal/pagination.html" .page }}

</div>
