.breadcrumbs li{
    display: inline-block;
}
.breadcrumbs li:after{
    content: ">";
    color: #000;
}
.breadcrumbs li:last-child:after{ 
    content: "";
}
.breadcrumbs li a{
    margin: 0 .5rem;
    color: green;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding: .2rem .8rem;
}