.blog-list{
    margin: .5rem 0 3rem 0;    
    margin: auto;
}
.blog-list li {
    margin-bottom: 1.5rem;
    border-radius: 4px;
    transition: .3s ease-in-out;
    border: 1px solid #ccc;
} 
.blog-list li .btn{
    background: #000;
    color: #FFF;
    border: none;
} 
.blog-list li .btn:hover{
    color: #FFF;
    background: #36F;
    border: none;
}