a{
    color: #36F;
    transition: .3s ease-in-out;
    border-bottom: 2px solid transparent;
}
a:hover,a.active{
    color: #dd4f39;
    border-bottom-color: #dd4f39;
}
.no-style,.no-style ul,.no-style li{
    list-style: none;
    margin: 0;
    padding: 0;
}