.btn,.btn:hover{
    color: #000;
    background: #e0e0e0;
    display: inline-block;
    outline: none;
    font-size: .6rem;
    line-height: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 3rem;
    cursor: pointer;
    margin-top: .8rem;
    text-align: center;
    border: 1px solid transparent;
}
.btn-secondary{
    color: #FFF;
    background: #37F;
    border: 1px solid #37F;
}

.btn.btn-primary{
    background: #333;
    color: #FFF;
    border: none;
} 
.btn.btn-primary:hover{
    color: #FFF;
    background: #36F;
    border: none;
}