.rounded{
    border-radius: 100%;
}

a{
    color: #00F;
    transition: .3s ease-in-out;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    outline: none;
}
a:hover{
    color: #00F;
    border-bottom: 1px solid #00F;
}
a.profile-pic:hover{
    border-bottom: 1px solid transparent;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-center{
    text-align: center;
}

.text-danger{
    color: orangered;
}
/* Flexbox */
.d-flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-between{
    justify-content: space-between    ;
}
.jc-center{
    justify-content: center;
}
