:root {
  --width: 720px;
  --font-main: Verdana, sans-serif;
  --font-scale: 1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color: #8b6fcb;
  --code-background-color: #272822;
  --code-color: #CCC;
  --blockquote-color: #222;
  --heightlight-color: #ffc107;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #01242e;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #8cc2dd;
    --visited-color: #8b6fcb;
    --code-background-color: #272822;
    --code-color: #ccc;
    --blockquote-color: #ccc;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-main);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
  font-optical-sizing: auto;
  font-style: normal;
  display:flex; 
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
  line-height: 1.1em;
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
  margin-right: 0.6em;
  fill: var(--link-color);
  position: relative;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

a:hover,
a:active,
a:focus {
  border-bottom-color: var(--link-color);
}

.df{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul,
nav li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

time {
  font-family: monospace;
  font-size: 12px;
}

main {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

footer {
  font-size: 10px;
  color: #999;
  text-align: center;
}

.highlight,
.code {
  padding: 1px 15px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 10px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}

/** new **/
mark, .badge {
  background-color: #ffd65c;
}


.post-title h2 {
  margin: 0;
}

time {
  color: #666;
}

/** pagination start **/
/* Pagination Container */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

/* Page Links */
.page-link {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
}

/* Disabled State */
.page-item.disabled .page-link {
  color: #999;
  background-color: #f8f9fa;
  border-color: #ccc;
  pointer-events: none;
  cursor: none;
}

/* Active State */
.page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item.active .page-link:focus {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  text-decoration: none;
}
/* Add border radius only to first and last items */
.page-item:first-child .page-link {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/** pagination end **/

.project-poster {
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  .df {
    flex-direction: column;
  }
  .project-poster{
    display: none;
  }
}
.project-title h2{
  margin: 0;
  padding: 0;
}

.project-title a{
  color: var(--heading-color)
}

.content p{
  margin: 10px 0;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  margin: 0.85em 0 0 0;
}

.mt-3{
  margin-top: 3em;
}

.prev-next{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prev-next .next{
  margin-left: auto;
}
